/* ------------ BASE --------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

hr {
  background-color: #D1D3D4;
  border: none;
  height: 1.5px;
}

h1 {
  color: #00A79D;
  font-size: 70px;
  margin: 2rem auto;
}

h1, h2,
h3, h4,
h5, h6 {
  font-family: 'Roboto Slab', serif;
}

h1 span {
  color: #6D6E71;
}

.svg {
  height: 30px;
}



/* ------------ LAYOUT --------------- */

.layout-main {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 2;
  grid-template-areas:
  "idea-entry idea-entry idea-entry"
  ". idea-container .";
  height: 100vh;
}

.layout-idea-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: idea-container;
}

.layout-idea-entry {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  grid-area: idea-entry;
  justify-content: space-around;
}


/* ------------ modules --------------- */

.m-idea-card {
  color: #939598;
  width: 100%;
}

.m-idea-card p {
  padding: 1rem 0;
}

.m-idea-card div.flex-row {
  color: #6D6E71;
  display: flex;
  justify-content: space-between;
}

.m-idea-card div.quality-buttons {
  color: #6D6E71;
  display: inline-block;
  margin: 1rem 0;
}

.m-idea-card div.quality-buttons p {
  bottom: 10px;
  color: #6D6E71;
  display: inline-block;
  position: relative;
  width: 15rem;
}

.m-idea-card div.quality-buttons img {
  padding-right: 1rem;
}

.m-idea-list {
  width: 100%;
}


.m-input {
  border: 1.5px solid #D1D3D4;
  color: #00A79D;
  font-size: 24px;
  height: 45px;
  margin: 10px;
  padding: 5px;
  width: 60%;
}

.m-searchbar {
  margin: 30px;
  width: 100%;
}

.m-submit-btn {
  background-color: #00A79D;
  color: #FFF;
  font-size: 24px;
  height: 45px;
  margin: 5px auto 30px;
  width: 60%;
}


/* Buttons */

.delete-card {
  background-image: url('icons/delete.svg');
  background-size: cover;
  border: none;
  width: 2rem;
}

.downvote {
  background-image: url('icons/downvote.svg');
  background-size: cover;
  border: none;
  width: 2rem;
}

.upvote {
  background-image: url('icons/upvote.svg');
  background-size: cover;
  border: none;
  width: 2rem;
}

/* ------------ STATE --------------- */

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.delete-card:hover {
  background-image: url('icons/delete-hover.svg');
}

.downvote:hover {
  background-image: url('icons/downvote-hover.svg');
}

.upvote:hover {
  background-image: url('icons/upvote-hover.svg');
}

.m-input::placeholder {
  color: #939598;
}

.m-submit-btn:hover {
  background-color: #045E55;
}

.m-submit-btn:disabled {
  background-color: #86b9b4;
}


@media screen (max-width: 600px), (orientation: portrait) {

  button {
    background-color: white;
  }

  h1 {
    font-size: 40px;
    margin: 1rem auto 0;
  }

  .m-idea-card {
    width: 130%;
  }

  .m-input {
    height: 40px;
    width: 90%;
  }

  .m-searchbar {
    margin: 30px 0;
    width: 130%;
  }

  .m-submit-btn {
    margin: 1rem;
    width: 90%;
  }

  .textbox {
    height: 9rem;
  }
}